  <form class="callout" role="form" method="post" #f="ngForm" (ngSubmit)="submit()">

      <h3 class="subheader text-center" *ngIf="action == 'create'">New Event</h3>
      <h3 class="subheader text-center" *ngIf="action == 'update'">Edit Event</h3>

      <div ngControlGroup="info">

        <div class="input-group">
          <label class="input-group-label">Name</label>
          <input class="input-group-field" type="text" name="name" [(ngModel)]="item.name" ngControl="name" minlength="5" maxlength="20" required/>
        </div>

        <div class="input-group">
          <label class="input-group-label">Info</label>
          <textarea class="input-group-field" name="description" rows="5" cols="5" [(ngModel)]="item.description" ngControl="description"></textarea>
        </div>

        <div class="input-group">
          <label class="input-group-label">Date</label>
          <input class="input-group-field" type="text" name="date" data-date-format="yyyy" [(ngModel)]="item.date" ngControl="date" required/>
        </div>

      </div>

      <fieldset class="fieldset" ngControlGroup="location">
        <legend class="text-center">Location</legend>

        <div class="callout secondary small">
          <sebm-google-map [latitude]="item.latitude" [longitude]="item.longitude" [zoom]="zoom" disableDefaultUI="true">
            <sebm-google-map-marker [latitude]="item.latitude" [longitude]="item.longitude" [label]="'M'" [markerDraggable]="markerDraggable" (dragEnd)="dragEnd($event)">
            </sebm-google-map-marker>
          </sebm-google-map>
          <input type="range" min="1" max="10" step="1" [(ngModel)]="zoom"/>
        </div>

        <div class="input-group">
          <label class="input-group-label">Lat</label>
          <!--<input class="input-group-field" type="number" step=".01" name="latitude" [ngModel]="item.latitude | number:'2.2-2'" ngControl="latitude" required>-->
          <input class="input-group-field" type="number" step=".01" name="latitude" [ngModel]="item.latitude" ngControl="latitude" required>
        </div>

        <div class="input-group">
          <label class="input-group-label">Lon</label>
          <!--<input class="input-group-field" type="number" step=".01" name="longitude" [ngModel]="item.longitude | number:'2.2-2'" ngControl="longitude" required/>-->
          <input class="input-group-field" type="number" step=".01" name="longitude" [ngModel]="item.longitude" ngControl="longitude" required/>
        </div>

      </fieldset>

      <button class="success expanded button float-center" type="submit">
        {{action | uppercase}} EVENT
      </button>

  </form>
  
